/*@import "reset";*/
/*--header--*/
header {
  background: #999;
  padding: 20px 10%;
  /*--nav--*/
  /*--search--*/
}
header nav {
  width: 100%;
}
header nav a {
  float: left;
  font-size: 16px;
  line-height: 20px;
  padding: 0 20px 20px 0;
  color: #fff;
}
header .sear input {
  padding: 3px;
}
/*--main--*/
main {
  padding: 30px 10%;
}
main form .group {
  margin-bottom: 30px;
}
main form .group input {
  padding: 5px 0;
  width: 100%;
}
main form button {
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  background: deepskyblue;
  border: none;
}
main form button.signIn {
  background: orange;
}
